/* your styles go here */
#intro .carousel-caption,
#intro .carousel-caption h1,
#intro .carousel-caption h2 {
    color:#fff;
    -webkit-font-smoothing: antialiased;
}

.phone {
    font-size:80px;
}

#about {
    background-color: #EEE;
    border-bottom: solid 1px #CCC;
}

#services .services .time {
    padding-left:20px;
}

.reference-item {
    width: 350px;
    overflow: hidden;
}
@media (max-width: 1199px) {
    .reference-item {
        width: 400px;
    }
}
@media (max-width: 991px) {
    .reference-item {
        width: 300px;
    }
}
@media (max-width: 350px) {
    .reference-item {
        width: 260px;
    }
}

.has-error {
    border: solid 1px #a94442;
}

#contact .input-group select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#intro input[name='submit'] {
  margin-bottom: 300px;
  margin-top: 30px;
}

.admin {
    padding-top:160px;
}

.admin .row {
    font-size: 20px;
}