/* your styles go here */
#intro .carousel-caption,
#intro .carousel-caption h1,
#intro .carousel-caption h2 {
    color:#fff;
    -webkit-font-smoothing: antialiased;
}

.phone {
    font-size:80px;
}

#about {
    background-color: #EEE;
    border-bottom: solid 1px #CCC;
}

#services .services p {
    text-align: justify;
}

#services .services .time {
    padding-left:20px;
}